<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <link ref="stylesheet" type="text/css" href="../public/styles.css">
</head>
<body>
    <div action="/news" class="app" id="market">
        <h1>
            <%= title %>
        </h1>
    </div>
</body>
</html>